.sploot-logo {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.poem {
    color: #000;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 1em;
}

.poem p {
    margin-bottom: 1.5em;
}

.poem span {
    text-indent: -1.5em;
    margin-left: 1.5em;
}
