<div class="header">
    <div class="name">
        <h1><a href="/">Josh Davis</a></h1>
    </div>

    <div class="nav">
        <ul>
            <li><a href="/posts/">Posts</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/about/#contact">Contact</a></li>
        </ul>
    </div>

    <div class="profiles">
        <a title="GitHub" href="{{ site.data.accounts.github.site }}"><i class="icon-github-sign"></i></a>
        <a title="Twitter" href="{{ site.data.accounts.twitter.site }}"><i class="icon-twitter-sign"></i></a>
        <a title="LinkedIn" href="{{ site.data.accounts.linkedin.site }}"><i class="icon-linkedin-sign"></i></a>
        <a title="LinkedIn" href="{{ site.feed }}"><i class="icon-rss"></i></a>
    </div>
</div>
