<!DOCTYPE html>

<html>
    <head>
        <title>Josh Davis</title>
        <meta name="description" content="Personal web page for Josh L. Davis" />
        <meta name="author" content="Josh Davis" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="/css/base.css" rel="stylesheet" type="text/css">
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    </head>

	<body>
        <div class="container">
            <div class="side">
                <div class="me">
                    <img src="/img/rocket.png" class="rocket" alt="My cat, Rocket"/>
                    <img src="/img/me.png" class="josh" alt="Josh Davis"/>
                </div>

                <h2>Josh Davis</h2>

                <p>
                    I'm a Computer Science major in the midwest.
                </p>
                <p>
                    I like to learn, pet kittens, and wear fluffy socks.
                </p>
                <p>
                    I never save anything for the swim back.
                </p>

                <ul>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about/#contact">Contact</a></li>
                </ul>
            </div>

            <div class="wrap">
                {{ content }}
            </div>
        </div>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39545516-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
	</body>
</html>
